.table th {
	text-align: center;
	height: 38px;
}

a {
	color: #555;
	text-decoration: none;
}

a:hover {
	text-decoration: none; 

	color: #555;
}



a:link{
	text-decoration: none;
}

.total{
    line-height: 45px;font-size: 16px;margin-left: 30px;
}
.total.page{
    margin-left: 8px;
}

.descr{
    float: right;
    padding-top: 13px;
    padding-right: 60px;
}


.page_input {
    font-size: 14px;
    line-height: 30px;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    width: 40px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.1) inset;
    text-align: center;
}

#content{
    margin-top: 20px;
}