<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>sdsgf</title>

    <link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="/css/global.css">
    <link rel="stylesheet" media="screen" href="/css/question.css">


</head>

<body>

#parse("header.html")
#parse("page.html")
<!--引入ckeditor-->
<script type="text/javascript" src="/plugins/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="/js/vote.js"></script>
<script>
    $(function () {
        $(".answer-btn").click(function () {
            var editor = CKEDITOR.instances.edi;
            editor.focus();
        });

        $(".button-plain.reply").click(function () {


            var editor = CKEDITOR.instances.edi;
            var htmlData = editor.getData();
            var userName = $(this).parent().parent().find(".author-name>a").text();
            if (userName == '${user.name}') {
                alert('不可以回复自己');
                return;
            }

            var src = $(this).parent().parent().find(".author-name>a").attr("href");
            editor.setData(htmlData + "@<a href=" + src + ">" + userName + "</a>:");

            var target_top = $("#cke_1_contents").offset().top;
            $("html,body").animate({scrollTop: target_top}, 1000);

        });

        $(".button-plain.edit").click(function () {
            var s = $(this).next().val();
            $("#commentId").val(s);
            var editor = CKEDITOR.instances.editCk;
            editor.setData($(this).parent().prev().prev().html());
        });

    });

</script>
<div class="question-header">
    <div class="container">
        <div class="col-xs-12 col-md-9">
            <div class="question-header-mian">
                <h1>$!{question.title}</h1>
            </div>
            <div class="question-header-footer">
                <div class="show-content">
                    <span class="content">$!{question.content}</span>
                </div>
                <div class="question-button">
                    <button type="button" class="Button button-blue follow-button">关注问题</button>
                </div>

            </div>
        </div>
        <div class="col-xs-12 col-md-3 hidden-xs">
            <div class="col-md-12 numberboard">
                <div class="col-md-6 numberboard-item">
                    <div class="numberboard-name">关注</div>
                    <strong class="numberboard">2</strong>
                </div>
                <div class="col-md-6 numberboard-item left-ine">
                    <div class="numberboard-name">点赞</div>
                    <strong class="numberboard">$!{questionLikeCount}</strong>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="container">
        <div class="row mt-10">
            <div class="question-content">
                #if($!{question.commentCount}!=0)
                <div class="list-header">
                    <h4>$!{question.commentCount} 个回答</h4>
                </div>
                #foreach($comment in $comments)
                <div class="question-list-item">
                    <button type="button" class="Button Button--plain right-close" style="display: none;"><i
                            class="fa fa-remove">​</i></button>
                    <div class="user">
                        <div class="author-avatar">
                            <a href="/user/${comment.user.id}" target="_blank">
                                #if(!${comment.user.headUrl})
                                <img class="avatar-38 mr-10 hidden-xs" src="/img/avatar.jpg">
                                #else
                                <img class="avatar-38 mr-10 hidden-xs" src="${comment.user.headUrl}">
                                #end
                            </a>
                        </div>
                        <div class="author-content">
                            <div class="author-name">
                                <a href="/user/${comment.user.id}" target="_blank">$!{comment.user.name}</a>
                            </div>
                            <div class="author-nick">
                                $!{comment.user.signature}
                            </div>
                        </div>
                    </div>
                    <div class="answer-info"></div>
                    <div class="summary">
                        $!{comment.comment.content}
                    </div>
                    <div class="answer-info">发布于 $date.format('yyyy-MM-dd HH:mm:ss', ${comment.comment.createdDate})
                    </div>
                    <div class="item-actions">
                        <input value="$comment.liked" type="hidden" class="liked"/>
                        <span>
                                #if($comment.liked > 0)
                                            <button aria-label="赞同" type="button"
                                                    class="vote-button VoteButton active"
                                                    onclick="follow(this,2,'$!{comment.comment.id}')">
                                                <i class="fa fa-caret-up"></i> 赞同 <span
                                                    class="likeNum">$!{comment.likeCount}</span>
                                            </button>
                                        #else
                                            <button aria-label="赞同" type="button"
                                                    class="vote-button VoteButton"
                                                    onclick="follow(this,2,'$!{comment.comment.id}')">
                                                <i class="fa fa-caret-up"></i> 赞同 <span
                                                    class="likeNum">$!{comment.likeCount}</span>
                                            </button>
                                        #end

                                #if($comment.liked < 0)
                                    <button aria-label="反对" type="button "
                                            class="vote-button VoteButton active"
                                            onclick="unfollow(this,2,'$!{comment.comment.id}')"><i
                                            class="fa fa-caret-down"></i></button>

                                #else
                                    <button aria-label="反对" type="button "
                                            class="vote-button VoteButton"
                                            onclick="unfollow(this,2,'$!{comment.comment.id}')"><i
                                            class="fa fa-caret-down"></i></button>
                                #end



                            </span>
                        <button type="button" class="button-plain reply"><span class="fa fa-comment">​</span> 回复
                        </button>
                        #if($!{user.id}==$!{comment.comment.userId})
                        <button type="button" class="button-plain edit" data-toggle="modal" data-target="#editComment">
                            <span class="fa fa-pencil-square-o">​</span> 编辑
                        </button>
                        #end
                        <input type="hidden" name="sss" value="$!{comment.comment.id}"/>
                    </div>
                </div>
                #end

                #else
                <div class="col-xs-12 col-md-12 main">
                    <div class="question-content">
                        <div class="empty-state">
                            <div class="empty-state-image"><i class="fa fa-pencil-square-o"></i></div>
                            <div class="empty-state-text">暂时还没有回答，开始<span class="answer-btn">写第一个回答</span></div>
                        </div>
                    </div>
                </div>
                #end

                <div class="text-center">
                    #pagination("/question/${question.id}", $!{pageVo})
                </div>

            </div>
        </div>
        #if(!$user)
        <div class="row">
            <div class="requiredLogin">
                需要 <a href="/login" class="btn btn-primary">登录</a> 后方可回复, 如果你还没有账号你可以 <a href="/reg"
                                                                                         class="btn btn-danger">注册</a>
                一个帐号。
            </div>
        </div>
        #else
        <div class="row mt-10" style="background-color: white">
            <form action="/addComment" method="post">
                <textarea class="ckeditor" name="edi" id="edi"></textarea>
                <div style="float: right;padding: 20px;">
                    <input type="hidden" name="questionId" value="$!{question.id}"/>
                    <button type="submit" class="btn btn-primary">提交回答</button>
                </div>
            </form>
        </div>
        #end
    </div>
</div>


<!-- 模态框（Modal） -->
<div class="modal fade" id="editComment" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content" style="padding: 0 24px 32px;width: 700px; ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title text-center" id="myModalLabel">
                    编辑回答
                </h4>
            </div>
            <form action="/updateComment" method="post">
                <input type="hidden" name="questionId" value="$!{question.id}"/>
                <input type="hidden" id="commentId" name="commentId"/>
                <div class="modal-body">
                    <textarea class="ckeditor" id="editCk" name="editCk"></textarea>
                </div>
                <div class="footer" style="padding: 5px;text-align: right;">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消
                    </button>
                    <button type="submit" class="btn btn-primary">
                        提交回答
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
#parse("footer.html")

</body>

</html>