<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>关注列表</title>
    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">
    <link href="/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/user.css">

</head>
<body>
#parse("header.html")
#parse("page.html")
<script type="text/javascript" src="/js/sendMessage.js"></script>
<div class="wrap">
    <div class="container">
        <div class="row mt-10">
            #parse("userHeader.html")
            <div class="col-xs-12 col-md-12 main">
                <div class="index-list">
                    <div class="profile-main">
                        <ul>
                            <li><a href="/user/${userInfo.user.id}/questions">动态</a></li>
                            <li><a href="/user/${userInfo.user.id}/questions">回答<span class="Tabs-meta">$!{userInfo.commentCount}</span></a>
                            </li>
                            <li><a href="/user/${userInfo.user.id}/questions">提问<span
                                    class="Tabs-meta">$!{userInfo.questionCount}</span></a></li>
                            <li  class="activ"><a href="/user/${userInfo.user.id}/following">关注列表<span
                                    class="Tabs-meta">$!{userInfo.followeeCount}</span></a></li>
                            <li><a href="/user/${userInfo.user.id}/followers">粉丝列表<span
                                    class="Tabs-meta">$!{userInfo.followerCount}</span></a></li>
                        </ul>
                    </div>

                    #foreach($followee in $followees)
                    <div class="index-list-item">
                        #if($followee.user.id!=$user.id)
                        #if(!$followee.followed)
                        <button type="button"
                                class="Button button-blue right-close btn-primary userFollow-button"
                                onclick="followUser('$!{followee.user.id}')" style="display: block;"><i class="fa fa-plus"></i>
                            关注他
                        </button>
                        #else
                        <button class="Button button-blue right-close  btn-primary button-grey userFollow-button"
                                style="display: block;" onclick="unfollowUser('$!{followee.user.id}')"> 取消关注
                        </button>
                        #end
                        #end
                        <div class="user">
                            <div class="author-avatar">
                                <a href="/user/$!{userInfo.user.id}" target="_blank">
                                    #if(!${followee.user.headUrl})
                                    <img class="avatar-38 mr-10 hidden-xs" src="/img/avatar.jpg">
                                    #else
                                    <img class="avatar-38 mr-10 hidden-xs" src="${followee.user.headUrl}">
                                    #end
                                </a>
                            </div>
                            <div class="author-content">
                                <div class="author-name">
                                    <a href="/user/$!{followee.user.id}" target="_blank">$!{followee.user.name}</a>
                                </div>
                                <div class="author-nick">
                                    $!{followee.user.signature}
                                </div>
                            </div>
                        </div>
                        <div class="ContentItem-status">
                            <span class="ContentItem-statusItem">$!{followee.questionCount} 问题</span>
                            <span class="ContentItem-statusItem">$!{followee.commentCount} 回答</span>
                            <span class="ContentItem-statusItem">$!{followee.followeeCount} 关注</span>
                            <span class="ContentItem-statusItem">$!{followee.followerCount} 粉丝</span>
                        </div>

                    </div>
                    #end

                    <div class="text-center">
                      ##  #pagination("/user/$!{userInfo.user.id}", $!{pageVo})
                    </div>


                </div>
            </div>
        </div>
    </div>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="messageBox" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content" style="padding: 0 24px 32px;width: 536px; ">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title text-center" id="myModalLabel">
                        发送私信
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row mb-20">
                            <span style="font-size: 18px"><b>$!{userInfo.user.name}</b></span>

                    </div>
                    <div class="row mb-10">
                    <textarea id="messageContent" placeholder="私信内容"
                              style="width: 100%;resize:none;min-height: 200px;border-radius: 3px;border: 1px solid #ccc;"></textarea>
                    </div>
                </div>
                <div class="footer" style="padding: 5px;text-align: right;">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消
                    </button>
                    <button type="button" class="btn btn-primary" id="addMessage" onclick="addMessage()">
                        发送
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
#parse("footer.html")

</body>
</html>