<footer id="footer">
    <div class="container">
        <ul class="list-unstyled list-inline">
            <li>友情链接</li>
            <li>
                <a target="_blank " href="http://www.baidu.com/ " title="百度 ">百度</a>
            </li>
        </ul>
        <div class="text-center">
            <a href="javascript:; ">知否问答社区</a><span class="span-line ">|</span>
            <a href="javascript:; ">联系我们</a>
        </div>
        <div class="copyright mt-10">
            Powered By
            <a href="javascript:; ">Chase</a> Release 20190101 ©2018-2019
        </div>
    </div>
</footer>