<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>知否</title>
    <!--<link rel="shortcut icon" href="https://www.28844.com/assets/favicon.ico" type="image/x-icon">-->

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css" >
    <script type="text/javascript" src="/plugins/bootstrap/js/bootstrap.min.js"></script>
    <link href="plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/global.css">
</head>
<script>
    $(function () {
        $("#addQuestion").click(function () {
            alert("hh");
        });
    });
</script>

<body>

#parse("page.html")
#parse("header.html")

<div class="wrap">

    <div class="container">
        <div class="row mt-10 ">
            <div class="col-xs-12 col-md-9 main">
                <div class="tablist-header">
                    <ul>
                        <li>
                            <a class="active" href="#">最新</a>
                        </li>
                        <li>
                            <a href="#">关注</a>
                        </li>
                    </ul>
                </div>
                <div class="index-list">
                    #foreach($vo in $qVos)
                    <div class="index-list-item">
                        <div class="user">
                            <div class="author-avatar">
                                <a href="/user/$!{vo.user.id}">
                                    #if(!${vo.user.headUrl})
                                    <img class="avatar-38 mr-10 hidden-xs" src="/img/avatar.jpg">
                                    #else
                                    <img class="avatar-38 mr-10 hidden-xs" src="${vo.user.headUrl}">
                                    #end
                                </a>
                            </div>
                            <div class="author-content ">
                                <div class="author-name ">
                                    <a href="/user/$!{vo.user.id}">$!{vo.user.name}</a>
                                </div>
                                <div class="author-nick ">
                                    $!{vo.user.signature}
                                </div>
                            </div>
                        </div>

                        <h2 class="title"><a href="/question/$!{vo.question.id}">$!{vo.question.title}</a></h2>

                        <div class="summary">
                            <div class="excerpt">$!{vo.question.content}</div>
                        </div>


                        <div class="item-actions">
									<span>
                                            <button aria-label="赞同" type="button "
                                                    class="Button VoteButton VoteButton--up "><i
                                                    class="fa fa-caret-up "></i>赞同 </button>
                                            <button aria-label="反对" type="button "
                                                    class="Button VoteButton VoteButton--down "><i
                                                    class="fa fa-caret-down "></i></button>
                                        </span>
                            <button type="button" class="Button Button--plain "><a href="/question/$!{vo.question.id}"><span class="fa fa-comment">​</span>
                                $!{vo.question.commentCount} 条评论</a>
                            </button>
                            <button type="button " class="Button Button--plain star "><i class="fa fa-star ">​</i> 收藏
                            </button>
                        </div>
                    </div>
                    #end

                    <div class="text-center">
                        #pagination("/", $!{pageVo})
                    </div>
                </div>

            </div>

            <div class="col-md-3 hidden-xs side">
                <div class="side-alert alert alert-link">

                    <button class="btn btn-warning btn-block" data-toggle="modal" data-target="#myModal">
                        我要提问</a></button>
                    <button class="btn btn-primary btn-block">分享经验</button>

                    <!-- 模态框（Modal） -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
                        <div class="modal-dialog">
                            <div class="modal-content" style="padding: 0 24px 32px;width: 536px; ">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        ×
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">
                                        提问
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row mb-10">
                                        <input placeholder="写下你的问题，准确地描述问题更容易得到解答 "
                                               style="width: 100%;height:40px;border-radius: 3px;border: 1px solid #ccc;"/>
                                    </div>
                                    <div class="row mb-10">
                                            <textarea placeholder="输入问题背景、条件等详细信息（选填） "
                                                      style="width: 100%;resize:none;min-height: 100px;border-radius: 3px;border: 1px solid #ccc;"></textarea>
                                    </div>
                                </div>
                                <div class="footer" style="padding: 5px;text-align: right;">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消
                                    </button>
                                    <button type="button" class="btn btn-primary" id="addQuestion">
                                        发布问题
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget-box">
                    <h4 class="widget-box-title ">最新公告</h4>
                    <ul class="widget-links list-unstyled ">
                        <li class="widget-links-item ">
                            <a title="FlyCms 发布1.0测试版 " href="https://www.28844.com/# ">FlyCms 发布1.0测试版</a>
                        </li>
                        <li class="widget-links-item ">
                            <a title="用FlyCms如何运营问答社区平台 " href="https://www.28844.com/# ">用FlyCms如何运营问答社区平台</a>
                        </li>
                        <li class="widget-links-item ">
                            <a title="行家招募令，大牛快来认证吧！ " href="https://www.28844.com/# ">行家招募令，大牛快来认证吧！</a>
                        </li>
                        <li class="widget-links-item ">
                            <a title="FlyCms如何二次开发 " href="https://www.28844.com/# ">FlyCms如何二次开发</a>
                        </li>
                        <li class="widget-links-item ">
                            <a title="FlyCms如何安装 " href="https://www.28844.com/# ">FlyCms如何安装</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>



    </div>
</div>

#parse("footer.html")

</body>

</html>