<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>站内信</title>

    <link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/letter.css">

</head>

<body>
#parse("header.html")
#parse("page.html")
<div class="wrap">
    <div class="container">
        <div class="row mt-10" style="background-color: white">
            <ul class="letter-list">
                #foreach($conversation in $conversations)
                <li>
                    <a href="/msg/detail?conversationId=$conversation.message.conversationId" class="letter-link"></a>
                    <div class="letter-info">
                        <span class="l-time">$date.format('yyyy-MM-dd HH:mm:ss', $conversation.message.createdDate)</span>
                        <div class="l-operate-bar">
                            <a href="/msg/detail?conversationId=$conversation.message.conversationId">
                                共$conversation.message.id条会话
                            </a>

                        </div>
                    </div>
                    <div class="chat-headbox">
                        #if($conversation.unread!=0)
                        <span class="msg-num">
                            $conversation.unread
                        </span>
                        #end
                        <a class="list-head">
                            #if(!${conversation.user.headUrl})
                            <img alt="头像" src="/img/avatar.jpg">
                            #else
                            <img alt="头像" src="$conversation.user.headUrl">
                            #end
                        </a>
                    </div>
                    <div class="letter-detail">
                        <a title="通知" class="letter-name level-color-1">
                            $conversation.user.name
                        </a>
                        <p class="letter-brief">
                            $conversation.lmUser.name : $conversation.message.content
                        </p>
                    </div>
                </li>
                #end



            </ul>


            <div class="text-center">
                #pagination("/msg/list", $!{pageVo})
            </div>

        </div>



    </div>
</div>
#parse("footer.html")


</body>

</html>