<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>站内信详情</title>
    <link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/letter.css">

</head>

<body>
#parse("header.html")
#parse("letterPage.html")
<script type="text/javascript" src="/js/sendMessage.js"></script>
<div class="wrap">

    <div class="container" style="background-color: white">
        <div class="row mt-10">

            <ul class="letter-list">
                #foreach($message in $messages)
                <li>
                    <div class="letter-info">
                        <span class="l-time">$date.format('yyyy-MM-dd HH:mm:ss', ${message.message.createdDate})</span>

                    </div>
                    <div class="chat-headbox">
                        <a class="list-head">
                            #if(!${message.user.headUrl})
                            <img alt="头像" src="/img/avatar.jpg">
                            #else
                            <img alt="头像" src="${message.user.headUrl}">
                            #end
                        </a>
                    </div>
                    <div class="letter-detail">
                        <a title="通知" class="letter-name level-color-1">
                            $!{message.user.name} :
                        </a>
                        <p class="letter-brief">
                            $message.message.content
                        </p>
                    </div>
                </li>
                #end
            </ul>

            <div class="text-center">
                #letterPagination("/msg/detail?conversationId=${request.getParameter('conversationId')}", $!{pageVo})
            </div>

        </div>
        <div class="row">
            <div style="padding-left: 20px">发私信给 $!{targetUser.name} : </div>
            <textarea style="width: 97%;min-height: 200px;margin-left: 16px;resize: none" id="replyMessage"></textarea>
        </div>
        <input value="$!{targetUser.id}" type="hidden" id="targetUserId"/>
        <div class="row">
            <button class="btn btn-primary" style="float: right;margin:20px " onclick="replyMessage()">发送</button>
        </div>
    </div>
</div>

#parse("footer.html")

</body>

</html>